<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key><string>L4</string>
    <key>CFBundleIdentifier</key><string>org.lagrange.l4</string>
    <key>CFBundleName</key><string>L4</string>
    <key>CFBundleDisplayName</key><string>L4</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleSignature</key><string>Lgrn</string>
    <key>CFBundleVersion</key><string>1.0</string>
    <key>CFBundleShortVersionString</key><string>1.21.1</string>
    <key>NSPrincipalClass</key><string>NSApplication</string>
</dict>
</plist>
